<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleDisplayName</key>
    <string>CodexTouchBar</string>
    <key>CFBundleExecutable</key>
    <string>CodexTouchBar</string>
    <key>CFBundleIdentifier</key>
    <string>com.whitney.CodexTouchBar</string>
    <key>CFBundleIconFile</key>
    <string>CodexTouchBar</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>CodexTouchBar</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.2</string>
    <key>CFBundleVersion</key>
    <string>11</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>CodexTouchBar 需要读取当前 Chrome 窗口的标签标题，并在您触控按钮时切换到对应标签页。</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Whitney</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
</dict>
</plist>
